#main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
h1 { 
    color: #000000; 
    font-family: 'Raleway',sans-serif; 
    font-weight: 800; 
}
label {
    color: #000000; 
    font-family: 'Raleway',sans-serif; 
    font-weight: 800; 
}
#score {
    color: #000000; 
    font-family: 'Raleway',sans-serif; 
    font-weight: 800; 
}
.flexColumnElement {
    align-self: center;
    padding: 20px;
}
.popup {
    color: #000000; 
    font-family: 'Raleway',sans-serif; 
    font-weight: 800;
    padding: 0;
    margin: 0;
    text-align: center;
}